@import 'variables';

.wrap-login {
  height: 100vh;
  margin: auto;
  background-image: url("../../assets/images/system/bg-login.png");
  background-size: cover;
  .wrap-form-login {
    background-color: white;
    padding: 3rem 2.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    .text-login {
      color: #5e6c84;
      font-size: 26px;
      font-weight: 500;
    }
    .icon-login {
      color: rgba(0,0,0,0.25);
    }
  }
}

.wrap-header {
  background-color: #346cb0;
  padding: 0 !important;
}

.header {
  &-logo {
    height: 28px;
  }
  &-company {
    font-size: 1.25rem;
    font-weight: 500;
  }
  &-dropdown-icon {
    color: #a6abbd;
  }
  &-group-organ {
    font-weight: 600;
    color: #f7c46c;
  }
  &-organ {
    color: rgba(255, 255, 255, 0.7);
    line-height: normal;
  }
  &-organ-2 {
    font-size: 12px;
    opacity: 0.7;
  }
  &-user-avatar {
    color: #f56a00;
    background-color: #fde3cf;
  }
  &-wrap-organ {
    line-height: normal;
  }
  &-dropdown {
    border-left: 1px solid rgba(34,34,48, 0.2);
  }
  &-dropdown:hover {
    cursor: pointer;
  }
}

.main-content {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.main-menu {
  height: calc(100vh - #{$header-height} - 33px);
  overflow-y: scroll;
  &-group {
    padding-left: 24px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-icon {
    color: #1890ff;
  }
}

.sidebar-footer {
  background-color: #e6f7ff;
}

.text-table-primary {
  color: $text-table-primary;
  font-weight: 600;
}

.info-icon-color-1 {
  color: #bf9209;
}

.info-icon-color-2 {
  color: #34308a;
}

.info-icon-color-3 {
  color: #4f4825;
}

.info-icon-color-4 {
  color: #b80505;
}

.info-icon-color-5 {
  color: #242160;
}

.info-icon-color-6 {
  color: #d7a818;
}

.info-icon-color-7 {
  color: green;
}

.info-icon-color-8 {
  color: #b1b1b1;
}

.info-icon-color-9 {
  color: #5d7777;
}

.wrap-button-info {
  color: #0179a8;
  border: 1px solid #0179a8;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.wrap-button-info:hover {
  color: #ffffff;
  background-color: #0179a8;
}

.wrap-button-info-2 {
  color: #0179a8;
  border: 1px solid #0179a8;
  border-radius: 3px;
  padding: 0.15rem 0.375rem;
  cursor: pointer;
}

.wrap-button-info-3 {
  color: #0179a8;
  border: 1px solid #0179a8;
  border-radius: 3px;
  padding: 0.25rem 0.375rem;
  cursor: pointer;
}

.wrap-button-info-2:hover,
.wrap-button-info-3:hover {
  color: #ffffff;
  background-color: #0179a8;
}

.wrap-button-delete {
  color: #b76ba3;
  border: 1px solid #b76ba3;
  border-radius: 3px;
  padding: 0.2rem 0.55rem;
  cursor: pointer;
}

.wrap-button-delete:hover {
  color: #ffffff;
  background-color: #b76ba3;
}

.wrap-button-delete-2 {
  color: #b76ba3;
  border: 1px solid #b76ba3;
  border-radius: 3px;
  padding: 0.15rem 0.4125rem;
  cursor: pointer;
}

.wrap-button-delete-2:hover {
  color: #ffffff;
  background-color: #b76ba3;
}

.loader-data {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 9999;
  cursor: pointer;
}

.ant-form-item-label > label.ant-form-item-required::before {
  content: none !important;
}

.ant-pagination.ant-pagination-mini .ant-pagination-prev,
.ant-pagination.ant-pagination-mini .ant-pagination-next {
  line-height: normal !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  line-height: 14px !important;
}

.btn-search {
  border-color: #2b5a92;
  background-color: #0172d0;
}

.btn-search:hover,
.btn-search:active {
  background-color: #2b5a92;
  border-color: #285489;
}

.btn-search:focus {
  border-color: #254e7f;
  box-shadow: inset 0 1px 0 0 #437fc7, 0 0 0 1px #254e7f;
  background-color: #2b5a92;
}